<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <h3 class="text-center">Cadastre um produto</h3>
        </div>
    </div>

    <div class="mb-5">
        <div class="form-group">
            <label for="nome">Nome do produto:</label>
            <input type="text" class="form-control" id="nome" [(ngModel)]="produto.nome"
                placeholder="Digite o nome do produto...">
        </div>

        <div class="form-group">
            <label for="preco">Preço do produto:</label>
            <input type="number" class="form-control" id="preco" [(ngModel)]="produto.preco"
                placeholder="Digite o preço do produto...">
        </div>
        <div class=" form-group">
            <label for="imagem">Imagem:</label>
            <input type="text" class="form-control" id="imagem" [(ngModel)]="produto.imagem"
                placeholder="Digite a url da imagem do produto...">
        </div>
        <div class=" form-group">
            <label for="qtdEstoque">quantidade em estoque:</label>
            <input type="number" class="form-control" id="qtdEstoque" [(ngModel)]="produto.qtdEstoque"
                placeholder="Digite a quantidade de produto em estoque...">
        </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-end">
                <button type="button" class="btn btn-outline-success" (click)="cadastrarProduto()">Cadastrar
                    Produto</button>
            </div>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-12">
            <h3 class="text-center mb-3">Bem vindo à Loja</h3>
        </div>

        <div class="row">

            <div class="card mb-3" class="col-md-3" *ngFor="let produto of listaProdutos">
                <div class="shadow-sm">
                    <img class="card-img-top" src="{{ produto.imagem }}" alt="Card image cap">
                    <div class="card-body mb-2">
                        <h5 class="card-title d-flex justify-content-center">{{ produto.nome }}</h5>
                        <div class="card-text  d-flex justify-content-center">Código do produto: {{ produto.id }} </div>
                        <div class="card-text  d-flex justify-content-center">Preço: R{{ produto.preco | currency}}
                        </div>
                        <div class="card-text  d-flex justify-content-center">estoque:
                            {{ produto.qtdEstoque }}
                        </div>
                        <div class=" d-flex justify-content-center mt-3">
                            <a href="#" class="btn btn-outline-success mr-2">Editar</a>
                            <a href="#" class="btn btn-outline-danger">Apagar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>